doctype html
html
<!--[if IE 8]><html class='ie8'><![end if]--> 
<!--[if IE 9]><html class='ie9'><![end if]--> 
<!--[if IE]><!--><html><!--<![end if]--> 
head
  include head.jade
body
  block desc
    p description from content
  block content
</html>